
toolbarbutton#docShelley-jstop
{
    list-style-image: url("chrome://frantshelley/skin/mandm.png");
}

toolbar[iconsize="small"] #docShelley-jstop
{
    list-style-image: url("chrome://frantshelley/skin/triple.png");
    -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #docShelley-jstop[disabled="true"]
{
    -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #docShelley-jstop[disabled="true"]:hover
{
    -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #docShelley-jstop:hover
{
    -moz-image-region: rect(0px 48px 16px 32px);
}
